# Set XDG Base Directories
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"

export EDITOR='nvim'

# Load not tracked sensitive env vars
[ -f $XDG_CONFIG_HOME/secrets_env ] && source $XDG_CONFIG_HOME/secrets_env


# Point Zsh itself to the config directory
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"

# --- Sheldon --- 
export SHELDON_CONFIG_DIR="$XDG_CONFIG_HOME/sheldon"

# --- OS-Specific Homebrew Configuration ---
{{ if eq .chezmoi.os "darwin" }}
# Silicon Macs
if [ -x "/opt/homebrew/bin/brew" ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
# Intel Macs
elif [ -x "/usr/local/bin/brew" ]; then
    eval "$(/usr/local/bin/brew shellenv)"
fi
{{ else if eq .chezmoi.os "linux" }}
# Linux (Linuxbrew) Path
if [ -x "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
{{ end }}

# --- Linux ---
{{ if eq .chezmoi.os "linux" }}
# take system certificate directory, and not homebrew openssl@3 one for now.
export SSL_CERT_DIR=/etc/ssl/certs/
# sudo apt install openjdk-11-jdk -y
export JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64

# --- Mac OS ---
{{- else if eq .chezmoi.os "darwin" }}
eval "$(direnv hook zsh)"
export PATH="$PATH:~/.lmstudio/bin"
{{- end }}
