{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# --- Install apt packages if apt is available ---
if command -v apt-get &>/dev/null; then
  echo "Installing apt packages: build-essential curl"
  sudo apt-get update
  sudo apt-get install -y build-essential curl zsh
fi
# use zsh for the session
exec zsh
{{ end -}}
