[user]
  name = "Fabio Meier"
  email = {{ .email }}
  signingkey = ~/.ssh/id_ed25519.pub

[color]
  ui = auto

[gpg]
  format = ssh

[commit]
  gpgsign = true

[core]
  editor = nvim
  pager = delta
  excludesfile = ~/.config/git/ignore
	autocrlf = true

[init]
    defaultBranch = main

[pull]
    # When you pull, rebase changes on top of the fetched branch.
    rebase = true

[interactive]
    diffFilter = delta --color-only

[fetch]
    # When fetching, automatically remove remote-tracking branches that no longer exist on the remote.
    prune = true

[rebase]
    # Automatically stash any local changes before a rebase and apply them after.
    autoStash = true
    # Automatically squash fixup commits on interactive rebase
    autosquash = true

[push]
    # Requires Git 2.37+
    autoSetupRemote = true

[delta]
  navigate = true
  side-by-side = true

