[[manager.prepend_keymap]]
# Overwrites "Follow hovered symlink"
on = ["g", "f"]
run = "cd '~/Google Drive/My Drive/File Management'"
desc = "Go to GDrive File Management"

[[manager.append_keymap]]
on = ["g", "r"]
run = "cd ~/repos/github/fabitosh/"
desc = "Go to cloned github repos"
