# --- git ---
# view 
alias gss="git status -s"
alias gd="git diff"
alias gdw="git diff --word-diff"
alias gds="git diff --staged"
alias glol="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"
alias glols="git log --graph --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --stat"

# change
alias ga="git add"
alias gaa="git add --all"
alias gap='git add --patch'
alias gc="git commit --verbose"
alias gcmsg="git commit --message"
alias gcam="git commit --all --message"

# branches
alias gsw="git switch"
alias gswm="git switch $(git_main_branch)"
alias gswc="git switch --create"

# remotes
alias gfa="git fetch --all --tags --prune --jobs=10"
alias gl="git pull"
alias gprom="git pull --rebase origin $(git_main_branch)"
alias gpromi="git pull --rebase=interactive origin $(git_main_branch)"
alias gp="git push"
alias gpf="git push --force-with-lease --force-if-includes"

# --- Homebrew ---
{{- if eq .chezmoi.os "darwin" }}
alias brewup="brew update -q && brew upgrade && brew upgrade --cask"
alias brewupg="brew update -q && brew upgrade -q && brew upgrade --cask --greedy -q"
{{ else if eq .chezmoi.os "linux" }}
alias brewup="brew update && brew upgrade"
{{- end }}

# --- Abbreviations ---
alias vi=nvim
alias lg=lazygit
alias pyc=pycharm
alias editzsh='chezmoi edit $XDG_CONFIG_HOME/zsh/.zshrc'

# --- Navigation ---
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

# --- lsd - ls deluxe ---
alias ls="lsd"
alias l="lsd -l"
alias la="lsd -Al"
